body {
    background-color: #f8f8f8;
}

.menu  {
    list-style-type: none;
}

.menu_item {
    color: #9b4465;
    font: bold 24px Arial;
    text-decoration: none; 
}

/* Убрал подчёркивание гиперссылки между картинкой и текстом*/
.catalog_item {
    text-decoration: none;
}

.item_title {
    color: black;
    background-color: #eaeaea;
    font-weight: 400;
    font-size: 18px;
}

.short_descr {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detailed_descr {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.img_small {
    width: 50px;
}

.img_detailed {
    border: 1px solid #9b4465;
}

.chars {
    list-style-image: url(images/icons8-bar-26.png);
}

.chars_name{
    color: #9b4465;
    font-weight: bold;
}

.chars_item{
    font-size: 14px;
}

.contacts{
    font-size: 14px;
}

.contacts_label{
    color: #9b4465;
    font-weight: bold;
}

.contacts_input {
    color: saddlebrown;
    font-style: italic;
    width: 400px;
}

.contacts_msg {
    color: saddlebrown;
    font-style: italic;
    width: 500px;
    height: 300px;
}

.contacts_btn {
    font-weight: bold;
}