* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    background-color: #f8f8f8;
}

.logo {
    height: 100px;
}

.header {
    background-image: url(images/background.jpg);
    border-bottom: 1px solid #9b4465;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    height: 100px;
    width: inherit;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: darkgrey;
    border-top: 1px solid #9b4465;
    color: #9b4465;
    font-weight: bold;
}

.copyrights {
    padding-right: 20px;
}

.menu {
    list-style-type: none;
    display: flex;
    padding-right: 10px;
}

.menu_item {
    color: #9b4465;
    font: bold 24px Arial;
    text-decoration: none; 
    padding-right: 10px;
    padding-left: 10px;
}

.menu_item:hover {
    background-color: silver;
}

.start_page_block, 
.catalog_page_block,
.contacts_page_block{
    padding: 20px;
}

.catalog-content {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.catalog_item_short_info_block {
    display: flex;
    align-items: center;
}

/* Убрал подчёркивание гиперссылки между картинкой и текстом*/
.catalog_item {
    text-decoration: none;
}

.item_header {
    color: black;
    background-color: #eaeaea;
    font-weight: 400;
    font-size: 18px;
    padding-left: 20px;
}

.content, .item_content, .catalog_content {
    width: inherit;
}

.short_descr {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detailed_descr {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 20px;
}

.short_descr::first-letter, .detailed_descr::first-letter {
    color: #9b4465;
    font-size: 20px;
    font-weight: bold;
}

.img_small {
    width: 50px;
}

.item_title_block {
    padding: 20px;
}

.item_short_info_block {
    display: flex;
}

.item_img_block {
    border: 1px solid #9b4465;
    width: fit-content;
    margin: 20px;
}

.item_img_block:hover {
    border-color: transparent;
}

.item_short_descr_block {
    width: max-content;
    padding-top: 20px;
}

.buy_botton_block {
    width: 100px;
    height: 50px;
    background-color: #eaeaea;
    color: #9b4465;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: #9b4465;
    margin-top: 20px;
    margin-left: 50px;
}

.buy_botton_block:hover {
    background-color: #9b4465;
    color: #eaeaea;
    border-color: #532f3d;
}

.buy_botton_block:active {
    border-width: 4px;
    margin-left: 49px;
    margin-top: 19px;
    font-weight: bolder;
}

.item_chars_block {
    margin: 20px 20px 20px 50px;
}

.chars {
    list-style-image: url(images/icons8-bar-26.png);
}

.chars_name{
    color: #9b4465;
    font-weight: bold;
}

.chars_item{
    font-size: 14px;
}

.item_info_block {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.item_info, .item_info_row, .item_info_col {
    border: 1px solid #9b4465;
}

.item_info {
    width: 1000px;
    border-collapse : collapse;
}

.item_info_header {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: capitalize;
}

.item_info_row_name, .item_info_header {
    color: #9b4465;
    font-weight: bold;
}

.item_info_row_name {
    width: 120px;
}

.item_info_row_name, .item_info_col {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item_info_col {
    width: 150px;
}

.item_info_decor_block {
    background-color: #9b4465;
    width: 20px;
}

.contacts_form_block {
    width: 550px;
    height: 450px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.contacts_form_item_line {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.contacts {
    font-size: 14px;
}

.contacts_form_item_line:nth-of-type(3) {
    padding-bottom: 20px;
}

.contacts_list {
    padding-left: 20px;
    padding-bottom: 20px;
}

.contacts_label{
    color: #9b4465;
    font-weight: bold;
}

.contacts_input {
    color: saddlebrown;
    font-style: italic;
    width: 400px;
}

.input_email:focus {
    background-color: silver;
    color: #9b4465;
}

.input_text:focus {
    text-transform: capitalize;
}

.contacts_msg {
    color: saddlebrown;
    font-style: italic;
    width: 500px;
    height: 300px;
}

.contacts_btn {
    font-weight: bold;
}

.address_map {

    width: inherit;
    height: 374px;
}