* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top {
    height: 768px;
    background: linear-gradient(0deg, #dcecfa 8.84%, rgba(152, 195, 232, 0) 31.12%)
}

.top__h1 {
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    font-weight: 300;
    width: 510px;
    margin-bottom: 32px;
}

.top__h1_red {
    color: red;
}

.top__content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    width: 425px;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 71px;
}

.top__info {
    padding-top: 101px;
    background-image: url(img/top__img.png);
    background-repeat: no-repeat;
    background-position: right center;
    flex-grow: 1;
    background-size: 50%;
}

.header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    display: inline-block;
}

.button:hover {
    box-shadow: none;
}

.heading {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 300;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}

.what {
    padding-top: 58px;
    padding-bottom: 64px;
}

.what__item {
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 359px;
    padding: 44px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.what__img {
    margin-bottom: 51px;
}

.what__a {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    margin-top: 30px;
    align-self: flex-start;
}

.what__content {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.project__text {
    width: 70%;
    margin: 32px auto 64px;
    text-align: center;
    color: #222222;
}

.project__item-large {
    position: relative;
}

.project__item-large-img {
    width: 100%;
}

.project__item-large-text {
    position: absolute;
    right: 64px;
    top: 64px;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.project__content_small {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.project__item-small {
    position: relative;
    margin-right: 32px;
}

.project__item-small:last-child {
    margin-right: 0;
}

.project__item-small-img {
    width: 100%;
}

.project__item-small-text {
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.bottom {
    background: #316099;
    margin-top: 112px;
    display: flex;
    flex-direction: column;
}

.interested  {
    padding: 91px 100px 96px 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #FFFFFF;
    max-width: 100%;
}

.interested-left {
    width: 52%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.interested__heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 340px;
}

.interested__text {
    margin-top: 32px;
    color: #FFFFFF;
}

.button__letstalk {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 15px 80px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    display: inline-block;
}

.footer  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 64px;
}

.footer__content  {
    padding: 64px 0px;
    display: flex;
    justify-content: space-between;
}

.interested__item-lower {
    display: flex;
    justify-content: flex-start;
}

.footer__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.interested__lower_marker {
    width: 23px;
    margin-right: 19px;
}

.interested__lower_text {
    width: 316px;
    margin-right: 32px;
}

.copyright {
    color: #FFFFFF;
    opacity: 0.4;
}